.slideLeft {
  margin-right: -200px;
  opacity: 0.75;
  animation: slideLeft 0.3s ease-out forwards;
}

@keyframes slideLeft {
  from {
    margin-right: -200px;
    opacity: 0.75;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}
